@import url(./project-card.css);
@import url(./recommendation-card.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F6;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.card-tags span {
    background: #EFEFEF;
    border: 1px solid #0000000D;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 13px;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 10vh;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    background-color: white;
    z-index: 1000;
    overflow-x: auto;
}

.nav-logo img {
    height: 80%;
    width: 9+0%;
    padding: 0.5vw 0.5vw;
}

.nav-menu {
    display: flex;
    gap: 2vw;
}

.nav h2 {
    font-size: 2vw;
    font-weight: 700;
}

.nav h4 {
    font-size: 1vw;
    white-space: nowrap;
}

.content {
    height: calc(100% - 10vh);
    width: 100%;
    display: flex;
    position: relative;
}

.left {
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;

}

.left h1 {
    font-size: 5vw;
    line-height: 4.4vw;

}

.left h1 span {
    color: orange;
}

.left p {
    font-size: 1.3vw;
    font-weight: 600;
    color: #666;
    width: 90%;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.left button {
    font-size: 1.5vw;
    padding: 1.3vw 2.3vw;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.right {
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}



@media (max-width: 700px) {
    .nav {
        padding: 0 5vw;
    }

    .nav h2 {
        font-size: 4vw;
    }

    .nav h4 {
        font-size: 3vw;
    }

    .nav-menu {
        gap: 3vw;
        flex-wrap: wrap;
    }
}