*{
    font-family: sans-serif;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 8vh; 
}

.nav {
    position: fixed;      
    top: 0;
    left: 0;
    height: 12vh;          
    width: 100%;
    border-bottom: 0.3px solid #dadada;
    box-shadow: 0 3px 15px #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    background-color: white; 
    z-index: 1000;      
    overflow-x: auto;  
}
.nav-logo img{
    height: 80%;
    width: 90%;
    padding: 3vw 3vw;
}

.nav-menu {
    display: flex;
    gap: 2vw;
    padding: 3vw 8vw;
}

.nav h4 {
    font-size: 2vw;
    font-weight: 300;
}

.nav h4 {
    font-size: 1vw;
    white-space: nowrap; 
}
.nav-menu h4:hover {
    background-color: orange;
    cursor: pointer;
    border-radius: 10%;
    font-weight: 400
    
}

.content{
    height: calc(100% - 11.5vh);
    width: 100%;
    display: flex;
    position: relative;
}


.left{
    height: 100%;
    width: 50%;
    padding: 5vw 4vw;
    
}

.left h1{
    font-size: 4vw;
    line-height: 4.4vw;

}

.left h1 span{
    color: orange;
}
.left p{
    font-size: 1.3vw;
    font-weight: 400;
    color: #666;
    width: 90%;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
.left button{
    font-size: 1.5vw;
    padding: 1.3vw 2.3vw;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 400;
}
.right{
    padding-top: 60px;
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}





/* Project- section */


.projects-section {
  background-color: #f4f4f9;
  padding: 4vw 10vw;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5vw;
  margin-bottom: 0.5vw;
}

.description {
  color: #666;
  font-size: 1vw;
  margin: 0 auto 3vw auto; /* centers the block horizontally */
  width: 50%;
  font-weight: 500;
  text-align: center; /* centers the text inside the block */
   word-spacing: 0.02vw;   /* space between words */
  letter-spacing: 0.05vw; 
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
}

.project-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 1.2vw;
  text-align: left;
}

.card-content h3 {
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

.card-content p {
  font-size: 0.9vw;
  color: #666;
  margin-bottom: 1vw;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.tag {
  padding: 0.4vw 0.8vw;
  background-color: #efefef;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 0.8vw;
  font-weight: 600;
  color: #333;
}

.footer-symbol {
    display: flex;
    justify-content: center;     
    align-items: center;
    gap: 4vw;                     
    padding: 2vh 3vw; 
    background-color: #f0f0f6;
}

.footer-symbol img{
    height: 150px;               
    width: 150px;
    object-fit: contain;
    padding: 2vh 3vw;
    
    
}

.footer-logo{
    display: flex;
   
   
    padding: 1vh 0;
    background-color: #f0f0f6;
    
}
.footer-logo img{
    
    height: 100px;
    width: auto;
    
    padding: 2vh 3vw;
    object-fit: contain;
    
}
.footer-content{
    height: calc(100% - 30vh);
    
    display: flex;
    position: relative;
    background-color: #f0f0f6;
}
.left1{
    height: 100%;
    width: 40%;
    
}
.right1{
    height: 100%;
    width: 20%;
    
}
.right2{
    height: 100%;
    width: 20%;
    
}
.right3{
    height: 100%;
    width: 20%;
    
}





@media (max-width: 700px) {
    .nav {
        padding: 0 5vw;
    }

    .nav h2 {
        font-size: 4vw;
    }

    .nav h4 {
        font-size: 3vw;
    }

    .nav-menu {
        gap: 3vw;
        flex-wrap: wrap; 
    }
}